body{

	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	width: 100%;
	height: 100%;

}



.cuerpo a{
	padding: 5px;
	color: #000000;
	text-decoration: none;

}



header{

	background:#335A7A !important;
	color:#fff;
	padding:30px;

	text-align: center;

}

.tituloH{

	font-size: 25px;
	font-weight: bold;
}

header nav{

	background: white;
	padding: 15px;

}
 .cuerpo{
 	text-align: center;
	
}

.cuerpo p{

	font-size: 20px;
}



.identidad{
	color: red;
	font-size: 15px;
}

.main .cuerpo .textoP{

text-shadow: black 1px 3px 9px;

}

.imagenNotas{
	width: 250px;

}

footer{
	background-color: #335A7A !important;
	color: #ffffff;
	padding: 10px;
	cursor: pointer;
	text-align: center;
}

header nav a{
		font-weight: bold;
		text-decoration: none;
		color: black;

		padding: 16px;

}

header nav a:hover{
	color: white;
	background: black;

}


	
h1{

	text-align: center;
	text-decoration: underline;
}


.login{


	margin: 0px auto;
	display: flex;
	flex-direction: column;
	width: 250px;


}

.login input[type="text"], input[type="password"]{
	padding: 15px;
		margin: 5px 0px 10px 0px;
		align-items: center;
		border-radius: 5px;
		border: 2px  solid #cccccc;

}

.login input[type="submit"]{

	padding: 15px;
	border-radius: 5px;
	border: 2px solid #cccccc;
	cursor: pointer;
}

.login input[type="submit"]:hover{

	background-color: #000;
	color: #fff;



}

.login input:focus{

			outline: solid 2px #0099ff;


}



